{{define "title"}}About{{end}}

{{define "main"}}
<p>My name is Grant Foster and I'm a senior software engineer working in languages like Go, Python, and more. I created this project by following along with the book, <a href='https://lets-go.alexedwards.net/'>"Let's Go" by Alex Edwards</a>.</p>
<br />
<p>Feel free to create an account and add a snippet. You can view the code for this project at <a href='https://github.com/grantfoster/snippetbox'>https://github.com/grantfoster/snippetbox</a>.</p>
{{end}}
